/* Contenedor principal para la imagen y los botones laterales */
.profile-container {
  display: flex; /* Cambia a flex para facilitar la alineación */
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: center; /* Centra horizontalmente */
  gap: 10px;
  margin-top: 5%;
  padding-top: 10px;
  min-height: 60vh;
  transition: transform 0.3s ease; /* Suaviza el movimiento */
}

/* Perfil de la mascota */
.profile {
  margin: 0 2%;
  min-height: 50vh; /* Altura mínima relativa a la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-background-container);
  width: 70%;
}

/* Contenedor de la imagen */
.FOTO {
  width: 100%;
  aspect-ratio: 2/3; /* Relación de aspecto fija 2:3 */
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
}

/* Contenedor para la imagen no encontrada */
.not-found-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;

  margin-top: 100px !important;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Imagen del perro */
.dog-photo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* La imagen cubre el contenedor */
  object-position: center;
  border-radius: 8px;
}

/* Efecto hover para los botones de navegación */
.btn-left:hover, .btn-right:hover {
  transform: scale(1.05);
}

/* Estilo para íconos */
.mat-icon {
  font-size: 24px;
}

/* Estilos para los botones de acción (❌ ❤️) */
.action-buttons {
  display: flex;
  justify-content: space-evenly; /* Asegúrate de que haya espacio entre los botones */
  padding: 10px;
}

.circle-button {
  width: 50px; /* Ancho del botón */
  height: 50px; /* Alto del botón */
  border-radius: 50%; /* Hace que el botón sea circular */
  display: flex;
  align-items: center; /* Centra el ícono verticalmente */
  justify-content: center; /* Centra el ícono horizontalmente */
  border: none; /* Elimina el borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, transform 0.3s; /* Agrega una transición suave al color de fondo y escala */
  margin: 0 10px; /* Espacio horizontal entre los botones */
}

.reject {
  background-color: #f44336; /* Color de fondo rojo para el botón de rechazo */
}

.reject:hover {
  background-color: #d32f2f; /* Color de fondo rojo más oscuro al pasar el mouse */
}

.like {
  background-color: #4caf50; /* Color de fondo verde para el botón de me gusta */
}

.like:hover {
  background-color: #388e3c; /* Color de fondo verde más oscuro al pasar el mouse */
}

/* Estilo para el título */
mat-card-header {

  margin-top: 10px;
  padding-bottom: 10px;
  font-size: var(--font-size-large);
}

mat-card-title {
  font-size: 30px;
  font-weight: bold;

}

mat-card-subtitle {
  font-size: 17px;

}

/* Descripción de la mascota */
.description-box {
  font-size: var(--font-size-base);
  line-height: 1.5;
  padding: 5px;
  margin-top: 10px;
  color: var(--color-dark);
  transition: font-size 0.3s ease, padding 0.3s ease;
}

/* Indicación de deslizamiento */
.swipe-hint {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  animation: blink 6s forwards;
}

.arrow-icon {
  width: 10px;
  height: 10px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
}

/* Animación de parpadeo */
@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0; /* Desaparece por completo */
  }
}

/* Contenedor para los puntos de navegación */
.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #666; /* Cambia el color para el punto activo */
}

/* Contenedor para la animación de reacción */
.reaction-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);

}


.reaction-icon {
  font-size: 20rem;
  opacity: 1;
  animation: heartbeat 1s infinite;
  transform: translateY(-60%);
}


.reaction-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  animation: heartbeat 1s infinite;
}



@keyframes heartbeat {
  0%, 100% {
    transform: translateY(-60%) scale(2); /* Eleva y escala */
  }
  50% {
    transform: translateY(-60%) scale(1.7); /* Eleva y escala en el pico del latido */
  }
}

.heart-animation,
.reaction-icon.liked,
.reaction-icon.rejected {
  animation: heartbeat 1s infinite;
}


