<app-filters
  (filtersApplied)="onFiltersApplied($event)"
  (clearFilters)="onClearFilters()">
</app-filters>
<div class="profile">

    <div class="profile--wrapper" *ngIf="hasItems()">

      <div class="FOTO">
        <img [src]="currentImage" alt="Dog Photo" class="dog-photo" />
      </div>

      <div class="profile-details">
        <p>{{currentName}}, {{currentAge}}</p>
        <p></p>
      </div>

        <div class="Boton">
          <button class="rechazar" (click)="onReject()">❌</button>
          <button class="descripcion" (click)="toggleDescription()">
            🔍
          </button>
          <button class="me-gusta" (click)="onLike()">❤️</button>
        </div>
    </div>

    <div class="empty-message-box" *ngIf="!hasItems()">
      <p>No encontramos un cadidato para vos</p>
    </div>


  <div class="description-box" *ngIf="showDescription && hasItems()">
    <p>{{ currentDesc }}</p>
  </div>

  </div>



