.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--color-primary);

}

.profile--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    background-color: var(--color-secondary);
    padding: 0;
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow-medium);
    height: auto;

}

.profile-details {
    color: var(--color-text);
    font-size: var(--font-size-base);
    font-family: var(--font-family-primary);
    padding: 10px;
    background-color: var(--color-secondary);
  }



.FOTO {
    flex-grow: 2;
    display: flex;
    align-items: center;
}

.FOTO .dog-photo {
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-large);
}

.Boton {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--color-transparente);
}

.Boton button {
    background-color: var(--color-text);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--shadow-medium);
    transition: transform 0.1s;
}

app-filters {
    position: fixed;
    top: 10px;
    left: 10px;
  }

