/* Contenedor principal para la imagen y los botones laterales */
.profile-container {
  display: grid;
  grid-template-columns: 60px 1fr 60px; /* Ajusta los botones laterales */
  align-items: center;
  gap: 10px;
  margin-top: 5%;
  padding-top: 10px;
  min-height: 60vh; /* Altura mínima relativa a la pantalla */
}

/* Perfil de la mascota */
.profile {
  margin: 0 2%;
  min-height: 50vh; /* Altura mínima relativa a la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Contenedor de la imagen */
.FOTO {
  width: 100%; 
  aspect-ratio: 2/3; /* Relación de aspecto fija 1:1 para mantener el contenedor cuadrado */
  text-align: center;
  overflow: hidden;
  background-color: #f2f2f2; 
  border-radius: 10px; 
}

/* Imagen del perro */
.dog-photo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* La imagen cubre el contenedor */
  object-position: center;
  border-radius: 8px;
}

/* Botones de navegación */
.btn-left, .btn-right {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-left:hover, .btn-right:hover {
  transform: scale(1.05);
}

.mat-icon {
  font-size: 24px;
}

/* Estilos para los botones de acción (❌ ❤️) */
mat-card-actions {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
mat-card-actions button {
  width: 8vw;
  height: 8vw;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin: 5px;
  transition: transform 0.3s ease;
}

mat-card-actions button:hover {
  transform: scale(1.1);
}

/* Título */
mat-card-header {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: var(--font-size-large);
}

mat-card-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/* Descripción de la mascota */
.description-box {
  font-size: var(--font-size-base);
  line-height: 1.5;
  padding: 5px;
  margin-top: 10px;
  color: var(--color-dark);
  transition: font-size 0.3s ease, padding 0.3s ease;
}
