<app-filters
  (filtersApplied)="onFiltersApplied($event)"
  (clearFilters)="onClearFilters()">
</app-filters>

<div class="profile-container"
     *ngIf="hasItems()"
     [ngStyle]="{ transform: 'translateX(' + offset + 'px)' }"
     (panmove)="onPanMove($event)"
     (panend)="onPanEnd()">

  <!-- Perfil de la mascota -->
  <mat-card class="profile" [@swipeAnimation]="currentState">
    <mat-card-content>
      <div class="FOTO">
        <img [src]="currentImage" alt="Dog Photo" class="dog-photo" (click)="nextImageInProfile()" />
      </div>

      <div class="reaction-overlay" *ngIf="showReactionAnimation">
        <div class="reaction-icon" [class.liked]="isLiked" [class.rejected]="isRejected">
          <img *ngIf="isLiked" src="assets/CHECK3.png" alt="Like Icon" class="reaction-image" />
          <img *ngIf="isRejected" src="assets/NOCHECK2.png" alt="Reject Icon" class="reaction-image" />
        </div>
      </div>

      <!-- Contenedor de los puntitos -->
      <div class="dots-container">
        <span *ngFor="let img of currentPetImages; let i = index"
              class="dot"
              [class.active]="i === currentImageIndex">
        </span>
      </div>

      <!-- Indicador de swipe -->
      <div class="swipe-hint">
        <span>Deslice</span>
        <i class="arrow-icon"></i>
      </div>
    </mat-card-content>


    <!-- Nombre y edad debajo de la imagen -->
    <mat-card-header style="position: relative;">
      <mat-card-title>{{currentName}}, {{currentAge}}</mat-card-title>
      <mat-card-subtitle>
        <mat-icon>place</mat-icon>A {{currentDistance}} km de distancia
      </mat-card-subtitle>

      <div class="progress-wrapper" *ngIf="!isSwiping">
        <mat-progress-spinner
          mode="determinate"
          [value]="currentPercentage"
          diameter="60"
          strokeWidth="5"
          color="primary"
        ></mat-progress-spinner>

        <span class="spinner-value">
          {{ currentPercentage }}%
        </span>

        <div class="match-container">
          Match
        </div>
      </div>


      <button mat-icon-button (click)="toggleDescription()" style="position: absolute; top: 0; right: 10px; background-color: transparent; padding: 0; border: none;">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </mat-card-header>


    <mat-card-content>
      <div class="description-box" *ngIf="showDescription">

        <p><strong>Género:</strong> {{ currentgender }}</p>
        <p><strong>Tamaño:</strong> {{ currentsize }}</p>
        <p><strong>Raza:</strong> {{ currentbreed }}</p>
        <p><strong>Color:</strong> {{ currentcolor }}</p>
        <p>{{ currentDesc }}</p>
      </div>
    </mat-card-content>

    <!-- Mostrar botones solo si no se está deslizando -->
    <mat-card-actions class="action-buttons" *ngIf="!isSwiping">
      <button class="circle-button reject" (click)="onReject()" aria-label="Rechazar">
        <mat-icon class="reject-icon" style="color: white;">close</mat-icon>
      </button>

      <button class="circle-button like" (click)="onLike()" aria-label="Me gusta">
        <mat-icon class="like-icon" style="color: white;">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-card-content *ngIf="!hasItems()">
  <div class="not-found-photo">
    <img [src]="notFoundImage" alt="No encontrado" class="responsive-image" />
  </div>
</mat-card-content>

