.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  height: 60px;
  margin: 0 auto; /* Centra el logo */
  position: absolute; /* Permite centrar el logo */
  left: 50%; /* Mueve el logo al 50% del ancho */
  transform: translateX(-50%); /* Ajusta la posición del logo */
}

.menu-button {
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
}

.logout-btn {
  margin-left: auto; /* Empuja el botón de logout al extremo derecho */
}

.nav-item {
  font-size: 50px; /* Cambia el tamaño de la letra aquí */
}

.nav-item-text {
  font-size: 50px; /* Esto ajusta el texto del nombre del ítem */
  font-weight: 500; /* O puedes ajustar el grosor si lo deseas */
}

mat-icon {
  font-size: 24px; /* Si quieres agrandar también los íconos */
}


