.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  height: 60px;

}

.menu-button {
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-item {
  font-size: 50px; /* Cambia el tamaño de la letra aquí */
}

.nav-item-text {
  font-size: 50px; /* Esto ajusta el texto del nombre del ítem */
  font-weight: 500; /* O puedes ajustar el grosor si lo deseas */
}

mat-icon {
  font-size: 24px; /* Si quieres agrandar también los íconos */
}
