.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
}

mat-sidenav {
  width: 250px;
}

.logo {
  height: 80px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu-button {
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
}

.menu-button mat-icon {
  font-size: 36px;
}


.mat-nav-list mat-list-item .mat-list-icon {
  font-size: 36px !important;
}

.mat-nav-list mat-list-item .nav-text {
  font-size: 22px !important;
  margin-left: 30px;
  margin-top: 23px;
  display: inline-block;
}

.logout-btn {
  margin-left: auto;

}

.logout-icon {
  font-size: 36px;
  margin-right: 8px;
}
