.banner {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Alinea el logo a la izquierda y el botón a la derecha */
  align-items: center;
  background-color: var(--color-tertiary);
  padding: 10px;
}

.logo img {
  max-height: 50px; /* Ajusta el tamaño del logo si es necesario */
}

.logout-btn button {
  background-color: #00b39d;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn button:hover {
  background-color: #008f7a;
}


