.banner {
  width: 100%;
  display: flex; /* Convertir el banner en un contenedor flexible */
  justify-content: center; /* Centrar horizontalmente la imagen */
  align-items: center; /* Centrar verticalmente la imagen */
  background-color: var(--color-tertiary);

}

.img{

}
