<button class="toggle-menu-btn" (click)="toggleMenu()">
  <i class="fas fa-filter"></i>
</button>


<div class="filters-container" [ngClass]="{ 'visible': isMenuVisible, 'hidden': !isMenuVisible }" >

  <div class="filter-group">
  <h4>Tipo</h4>
  <div class="filter-options">
    <label>
      <input type="radio" name="type" (change)="onFilterChange('type', 'DOG')"> Perro
    </label>
    <label>
      <input type="radio" name="type" (change)="onFilterChange('type', 'CAT')"> Gato
    </label>
  </div>
</div>

<div class="filter-group">
  <h4>Género</h4>
  <div class="filter-options">
    <label>
      <input type="radio" name="gender" (change)="onFilterChange('gender', 'MALE')"> Macho
    </label>
    <label>
      <input type="radio" name="gender" (change)="onFilterChange('gender', 'FEMALE')"> Hembra
    </label>
  </div>
</div>

<div class="filter-group">
  <h4>Edad</h4>
  <div class="filter-options">
    <label>
      <input type="radio" name="age" (change)="onFilterChange('age', 'PUPPY')"> Cachorro
    </label>
    <label>
      <input type="radio" name="age" (change)="onFilterChange('age', 'YOUNG')"> Joven
    </label>
    <label>
      <input type="radio" name="age" (change)="onFilterChange('age', 'ADULT')"> Adulto
    </label>
  </div>
</div>

<div class="filter-group">
  <h4>Tamaño</h4>
  <div class="filter-options">
    <label>
      <input type="radio" name="size" (change)="onFilterChange('size', 'SMALL')"> Chico
    </label>
    <label>
      <input type="radio" name="size" (change)="onFilterChange('size', 'MEDIUM')"> Mediano
    </label>
    <label>
      <input type="radio" name="size" (change)="onFilterChange('size', 'LARGE')"> Grande
    </label>
  </div>
</div>


<div class="buttons-container">
  <button class="apply-button" (click)="applyFilters()" (click)="toggleMenu()">Aplicar Filtros</button>
  <button class="apply-button" (click)="clearAllFilters()" (click)="toggleMenu()">Borrar Filtros</button>
</div>
</div>
