.filters-container {
  position: fixed;
  top: 100px;
  left: 0px;
  height: 70vh;
  width: 250px;
  box-shadow: var(--shadow-medium);
  padding: 3px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10px;
  flex-direction: column;
}

.filters-container.visible {
  transform: translateX(0);
}

.filters-container.hidden {
  transform: translateX(-100%);
}

.toggle-menu-btn {
  position: fixed;
  top: 4rem;
  left: 0.6rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  z-index: 11;
}

.toggle-menu-btn i {
  font-size: 15px;
  color: var(--color-dark);
}

.filters-container .filter-group h4 {
  font-size: var(--font-size-small);
  font-weight: bolder;
  margin: 10px;
  color: var(--color-dark);
  padding-top: 10px;
  padding-left: 0px;
}

.filters-container .filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Reduce el espacio entre botones */
  padding: 0; /* Quita cualquier espacio extra interno */
  margin-bottom: 5px; /* Reduce el espacio debajo del contenedor */
  width: 60%; /* Ajusta el ancho del contenedor */
}

/* Ajusta el tamaño de los botones dentro del contenedor */
.filters-container .filter-options mat-button-toggle {
  padding: 3px 5px; /* Reduce el espacio interno de los botones */
  font-size: 12px;  /* Disminuye el tamaño del texto */
  min-width: 40px;  /* Ajusta el ancho mínimo del botón */
  height: 20px;     /* Ajusta la altura del botón */
}

.filters-container .filter-options button.active {
  background-color: #375a6e; /* Color activo */
  color: white;
}

.filters-container .filter-options button:hover {
  background-color: #00b39d; /* Color al pasar el mouse */
  color: white;
}

.apply-button {
  font-size: 1rem;
  padding: 5px 15px;
  margin-top: auto;
  margin-right: 4px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.apply-button:hover {
  background-color: var(--color-secondary);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.buttons-container {
  display: flex;
  justify-content: center; /* Alinea los botones a la izquierda */
  gap: 10px; /* Espacio entre botones */
  margin-top: 20px;
}

button.mat-raised-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  transition: all 0.5s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
}

/* Botón de aplicar */
button[color="primary"] {
  background-color:var(--color-primary);
  color: white;
}

/* Botón de borrar */
button[color="warn"] {
  background-color: var(--color-secondary);
  color: white;
}


