<button class="toggle-menu-btn" (click)="toggleMenu()">
  <i class="fas fa-filter"></i>
</button>


<div class="filters-container" [ngClass]="{ 'visible': isMenuVisible, 'hidden': !isMenuVisible }">
<div class="filter-group">
  <h4>Tipo</h4>
  <div class="filter-options">
    <label>
      <input type="radio" name="type" value="perro" (change)="onFilterChange('type', 'perro')"> Perro
    </label>
    <label>
      <input type="radio" name="type" value="gato" (change)="onFilterChange('type', 'gato')"> Gato
    </label>
  </div>
</div>

<div class="filter-group">
  <h4>Género</h4>
  <div class="filter-options">
    <label>
      <input type="radio" name="gender" value="macho" (change)="onFilterChange('gender', 'macho')"> Macho
    </label>
    <label>
      <input type="radio" name="gender" value="hembra" (change)="onFilterChange('gender', 'hembra')"> Hembra
    </label>
  </div>
</div>

<div class="filter-group">
  <h4>Edad</h4>
  <div class="filter-options">
    <label>
      <input type="radio" name="age" value="cachorro" (change)="onFilterChange('age', 'cachorro')"> Cachorro
    </label>
    <label>
      <input type="radio" name="age" value="joven" (change)="onFilterChange('age', 'joven')"> Joven
    </label>
    <label>
      <input type="radio" name="age" value="adulto" (change)="onFilterChange('age', 'adulto')"> Adulto
    </label>
  </div>
</div>

<div class="filter-group">
  <h4>Tamaño</h4>
  <div class="filter-options">
    <label>
      <input type="radio" name="size" value="chico" (change)="onFilterChange('size', 'chico')"> Chico
    </label>
    <label>
      <input type="radio" name="size" value="mediano" (change)="onFilterChange('size', 'mediano')"> Mediano
    </label>
    <label>
      <input type="radio" name="size" value="grande" (change)="onFilterChange('size', 'grande')"> Grande
    </label>
  </div>
</div>

<button class="apply-button" (click)="applyFilters()">Aplicar Filtros</button>
</div>
