<div class="login-auth-page">
  <div class="login-auth-wrapper">
    <h3>Para continuar, inicia sesión en AdoptMe.</h3>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="login-auth-form">
      <div class="form-group">
        <input type="text" placeholder="Dirección de correo o nombre de usuario" class="form-input" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Contraseña" class="form-input" id="password" formControlName="password">
      </div>
      <button type="submit" class="btn-login">Iniciar sesión</button>
    </form>
  </div>
</div>
