.perfil-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 0px auto;
}

.user-card {
  max-width: 400px;
  margin: 0px auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-avatar {
  margin-right: 16px;
}

.avatar-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #00b39d;
}

.user-info {
  flex: 1;
  margin-bottom: 20px;
}

.user-name {
  margin-bottom: 20px !important;
}

.user-details {
  margin-top: 20px;
}

mat-list {
  padding: 0;
}

mat-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
}

mat-list-item:last-child {
  border-bottom: none;
}

mat-icon {
  margin-right: 8px;
  color: var(--color-primary)
}

.response {
  margin-left: 10px;
  color: #555;
}

.volver-button {
  background-color: #128C7E; /* Color del botón */
  color: white; /* Color del texto */
  margin-top: 20px; /* Espacio arriba del botón */
  margin-left: 300px;
  width: 20%; /* Ancho completo */
  font-size: 12px; /* Tamaño de la fuente */
  border-radius: 4px; /* Esquinas redondeadas */
  padding: 5px; /* Espaciado interno */
}

.user-ubication{
  margin-top: 10px;
  margin-bottom: 10px;
}

