<div class="mis-adopciones-container">
  <h2>Mis Adopciones</h2>
  <mat-card *ngIf="misAdopciones.length === 0" class="no-adopciones">
    <mat-card-content>No tienes adopciones realizadas.</mat-card-content>
  </mat-card>
  <mat-card *ngFor="let adoption of misAdopciones" class="adopcion-card">
    <div class="adopcion-content">
      <img [src]="adoption.pet.image" alt="{{ adoption.pet.name }}" class="mascota-imagen" mat-card-avatar />
      <div class="adopcion-detalles">
        <mat-card-header>
          <mat-card-title>{{ adoption.pet.name }}</mat-card-title>
          <mat-card-subtitle>Edad: {{ adoption.pet.age }} años</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Tipo:</strong> {{ adoption.pet.type }}</p>
          <p><strong>Tamaño:</strong> {{ adoption.pet.size }}</p>
          <p><strong>Color:</strong> {{ adoption.pet.color }}</p>
          <p><strong>Raza:</strong> {{ adoption.pet.breed }}</p>
          <p><strong>Dueño:</strong> {{ adoption.owner?.name }}</p>
          <p [ngClass]="{'estado-en-proceso': adoption.status === 'Pending', 'estado-open': adoption.status === 'Open','estado-completado': adoption.status === 'Approved'}">
            <strong>Estado:</strong> {{ adoption.status }}
          </p>
          <!-- Botón para mostrar/ocultar candidatos -->
          <button mat-button class="candidatos-button" (click)="toggleCandidatos(adoption.id)">
            {{ mostrarCandidatos[adoption.id] ? 'Ocultar Candidatos' : 'Mostrar Candidatos' }}
          </button>

          <span class="candidato-contador" *ngIf="misCandidatos[adoption.id]">
      {{ misCandidatos[adoption.id].length }}
    </span>
          <!-- Mostrar lista de candidatos -->
          <div *ngIf="mostrarCandidatos[adoption.id]">
            <h4>
              Candidatos interesados:

            </h4>
            <ul>
              <li *ngFor="let candidato of misCandidatos[adoption.id]">
                {{ candidato.user.name }} - {{ candidato.user.email }}
                <!-- Botón para ir al perfil del candidato -->
                <button mat-button>Ver Perfil</button>
              </li>
            </ul>
          </div>
          <div *ngIf="misCandidatos && (!misCandidatos[adoption.id] || misCandidatos[adoption.id].length === 0)">
            <p>No hay candidatos interesados por el momento.</p>
          </div>

        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
