:root {
    /* Colores */
    --color-primary: #71a098; /* Color principal */
    --color-secondary: #87CEFA; /* Color secundario */
    --color-accent: #FFDAB9; /* Color de acento */
    --color-dark: #173746; /* Color oscuro */
    --color-text: #0a0a0a; /* Color del texto */
    
    /* Tamaños de fuente */
    --font-size-small: 0.875rem; /* Para textos pequeños */
    --font-size-base: 1rem; /* Tamaño base del texto */
    --font-size-large: 1.2rem; /* Tamaño para subtítulos */
    --font-size-title: 1.8rem; /* Tamaño para títulos */
    
    /* Sombras */
    --shadow-light: rgba(0, 0, 0, 0.1) 0px 4px 12px; /* Sombra ligera */
    --shadow-medium: rgba(0, 0, 0, 0.15) 0px 8px 24px; /* Sombra media */
    
    /* Bordes */
    --border-radius-small: .25rem; /* Bordes pequeños */
    --border-radius-large: .5rem; /* Bordes grandes */
    
    /* Fuente */
    --font-family-primary: 'Poppins', sans-serif; /* Fuente principal */
    
    /* Animaciones */
    --animation-fast: 150ms ease-in-out; /* Para animaciones rápidas */
    --animation-medium: 300ms ease-in-out; /* Para animaciones estándar */
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #375A6E; /* Color de fondo principal */
    font-family: var(--font-family-primary); /* Fuente principal */
    font-size: var(--font-size-base); /* Tamaño de fuente base */
    color: var(--color-text); /* Color del texto */
    line-height: 1.6; /* Mejora la legibilidad */
}

/* Estilos para elementos responsivos */
@media (max-width: 768px) {
    :root {
        --font-size-base: 0.9rem; /* Disminuye el tamaño en pantallas medianas */
        --font-size-large: 1rem;
        --font-size-title: 1.5rem;
    }
}

@media (max-width: 480px) {
    :root {
        --font-size-base: 0.8rem; /* Disminuye el tamaño en pantallas pequeñas */
        --font-size-large: 0.9rem;
        --font-size-title: 1.2rem;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
