@import '@angular/material/prebuilt-themes/indigo-pink.css';
:root {
    /* Colores */
    --color-primary: #375a6e; /* Color principal */
    --color-secondary: #00b39d; /* Color secundario */
    --color-tertiary: #F2F1EC; /* Color secundario */
    --color-accent: #f1f1e6; /* Color de acento */
    --color-dark: #000000; /* Color oscuro */
    --color-text: #ffffff; /* Color del texto */
    --color-transparente: rgba(0,0,0,0);

    /* Tamaños de fuente */
    --font-size-small: 0.875rem; /* Para textos pequeños */
    --font-size-base: 1rem; /* Tamaño base del texto */
    --font-size-large: 1.5rem; /* Tamaño para subtítulos */
    --font-size-title: 2rem; /* Tamaño para títulos */

    /* Sombras */
    --shadow-light: rgba(0, 0, 0, 0.1) 0px 4px 12px; /* Sombra ligera */
    --shadow-medium: rgba(0, 0, 0, 0.15) 0px 8px 24px; /* Sombra media */

    /* Bordes */
    --border-radius-small: .25rem; /* Bordes pequeños */
    --border-radius-large: .5rem; /* Bordes grandes */

    /* Fuente */
    --font-family-primary: 'Poppins', sans-serif; /* Fuente principal */
    --font-family-secundary: 'Segoe UI', sans-serif; /* Fuente secundaria */
}

html,body {
    margin: 0;
    padding: 0;
    background-color:var(--color-primary); /* Color de fondo principal */
    font-family: var(--font-family-primary); /* Fuente principal */
    color: var(--color-text); /* Color del texto */
    line-height: 1; /* Mejora la legibilidad */
    overflow-y: auto;
    overflow-x: hidden;
}

/* Estilo general */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

/* Para pantallas grandes (desktops) */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    font:var(--font-size-base);
  }

  .profile--wrapper {
    max-width: 700px;
  }

  .side-bar-menu {
    max-width: 250px;
  }

  .description-box {
    max-width: 700px;
  }
  .adoption-form {
    max-width: 700px; /* El formulario ocupará el 100% del ancho de la pantalla */
    padding: 15px; /* Espaciado interno del formulario */
    margin: 0 10px; /* Margen lateral para evitar que toque los bordes */
  }
}

/* Para pantallas medianas (tablets) */
@media (max-width: 1199px) and (min-width: 768px) {
  .container {
    max-width: 960px;
    font:var(--font-size-base);
  }

  .profile--wrapper {
    max-width: 600px;
  }

  .side-bar-menu {
    max-width: 250px;
  }

  .description-box {
    max-width: 600px;
  }
  .adoption-form {
    max-width: 600px; /* El formulario ocupará el 100% del ancho de la pantalla */
    padding: 15px; /* Espaciado interno del formulario */
    margin: 0 10px; /* Margen lateral para evitar que toque los bordes */
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
    font:var(--font-size-base);
  }
  .profile--wrapper {
    max-width: 500px;
  }

  .side-bar-menu {
    max-width: 180px;
  }

  .description-box {
    max-width: 500px;
  }

  .adoption-form {
    max-width: 400px; /* El formulario ocupará el 100% del ancho de la pantalla */
    padding: 20px; /* Espaciado interno del formulario */
    margin: 0 20px; /* Margen lateral para evitar que toque los bordes */
  }
}

html, body { }
body { margin: 0; font-family: "Segoe UI", "Helvetica Neue", sans-serif; }
